@model IEnumerable<Luxybox.Data.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@foreach (var item in Model)
{

    <div class="category-row">
        <a href="@Url.Action("Index", "Products", new { id = item.Id })">
            <img class="product-image" src="@item.ImgUrl" />
            <p class="product-image">@item.Name</p>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </a>
    </div>
    

}
